<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <button>
                            <span>
                                <svg>Search</svg>
                            </span>
                        </button>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <button>
                    <span>Location
                        <span>
                            <svg>Arrow down</svg>
                        </span>
                    </span>
                </button>
                <div>
                    <div>
                        <div>
                            <a href="/">
                                <span>All</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>JS</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>HTML</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>PHP</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Ruby</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Python</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Java</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>.Net</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Scala</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>C</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Mobile</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>Testing</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>DevOps</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>UX/UI</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="/">
                                <span>PM</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button>
                                <span>
                                    <svg>3 dots</svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button>
                    <span>More Filters</span>
                </button>
            </div>
        </div>
    </div>
</div>