<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <button>
                            <span>
                                <svg>Search</svg>
                            </span>
                        </button>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <button>
                    <span>Location
                        <span>
                            <svg>Arrow down</svg>
                        </span>
                    </span>
                </button>
                <div>
                    <div>
                        <div>
                            <a href="/">
                                <span>All</span>
                            </a>
                        </div>
                    </div>
                    <!-- ... -->
                    <div>
                        <div>
                            <button>
                                <span>
                                    <svg>3 dots</svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button>
                    <span>More Filters</span>
                </button>
            </div>
        </div>
    </div>
</div>