<div>
    <div>
        <div>
            <div class="header">
                <div>
                    <a href="/?tab=with-salary">
                        <div>
                            offers with salary
                        </div>
                    </a>
                    <a href="/">
                        <div>
                            all offers
                        </div>
                    </a>
                </div>
                <div>
                    <button>
                        <span>
                            <span>Sort by:</span>
                            <span>Latest</span>
                            <span>
                                <svg>Arrow down</svg>
                            </span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="offers">
                <div>
                    <div>
                        <div>
                            <div class="offer">
                                <a href="/">
                                    <div></div>
                                    <div>
                                        <img src="" alt="logo">
                                    </div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>Company name</div>
                                            </div>
                                            <div>New if new</div>
                                        </div>
                                        <div>
                                            <div>
                                                <div>
                                                    <svg>company icon</svg>
                                                    <span>company name</span>
                                                </div>
                                                <div>
                                                    <svg>pin icon</svg>
                                                    <span>city name</span>
                                                </div>
                                            </div>
                                            <div>
                                                <div>tag1</div>
                                                <div>tag2</div>
                                                <div>tag3</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>Google Maps</div>
</div>